MakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
lab2/bin
.idea
Lab4/benchmarks/cache-scratch/Results
Lab4/benchmarks/cache-thrash/Results
Lab4/benchmarks/larson/Results
Lab4/benchmarks/threadtest/Results
*.o
*.a
